.admin-area {
  background: rgb(5, 134, 221);
  color: white;
  height: 100vh;
}
.admin-container {
  overflow-x: hidden;
}
.admin-menu {
  list-style: none;
  cursor: pointer;
}
.admin-menu:hover {
  color: rgb(201, 201, 207);
}
